.hello{
    display: flex;
}
h1{
    top:0;
    background-color: green;
    text-align: center;
    padding: 10px;
    font-size:50px;
    margin: -10px;
    letter-spacing: 5px;
}
p{
    font-size: 30px;
    word-spacing:3px;
}
.image1{
    padding:7px;
    margin: 7px;
    height:300px;
    width: 450px;
}
.hey{
    display: flex;
}
.image2{
    margin: 7px;
    padding: 7px;
     height:300px;
     width:2400px;      
}
#footer
{
    background-color: black;
    color: white;
    padding-bottom: 15px;
}